<section class="hero">
  <div class="hero-content">
    <div class="tagline">Mayo Eid</div>
    <h1>
      HEY! I'M Mayo<br />
      I'M A <span class="highlight">{{ displayText }}</span><span class="cursor">|</span>
    </h1>
    <p class="description">
      I am a passionate and motivated developer eager to bring creative solutions to technical challenges. With a strong enthusiasm for learning and growth, I aim to contribute effectively to team projects and build innovative software.
    </p>
    <div class="cta-buttons">
      <!-- Updated button for downloading CV -->
      <a href="assets/Resume_Mayo_eid.pdf" class="btn-primary" download>Download My CV →</a>
      <div class="social-links">
        <a href="https://www.instagram.com/mayo_eid97/"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/Mayoengin"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/mayo-eid-75154a205/"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</section>
